<table>
        <% for(var i=0; i < data.length; i++) { %>
           <tr>
             <td><%= data[i].number %> &nbsp</td>
             <td><%= data[i].station %> &nbsp</td>
             <td><%= data[i].arrival %> &nbsp &nbsp</td>
             <td><%= data[i].distance %> &nbsp </td>
           </tr>
        <% } %>
        </table>